@model PatientReadVM

@{
    ViewData["Title"] = $"Patient #{Model.Id} Details";
}
<h3>
    @Model.Name
</h3>
<h6>
    @Model.HireDate.ToShortDateString()
</h6>
<h6>
    SAR @Model.Salary
</h6>
<h6>
    Specialities:
    <ul>
        @foreach (var speciality in Model.Specialities)
        {
            <li>@speciality.Name</li>
        }
    </ul>
</h6>