@model PatientUpdateVM

@{
    ViewData["Title"] = $"Update {Model.Name} Patient";
}

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" />
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="HireDate" class="form-control" type="date" />
        <label asp-for="HireDate"></label>
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Salary" class="form-control" />
        <label asp-for="Salary"></label>
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>