@model UserCreateVM

@{
    ViewData["Title"] = "Add User";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <select asp-for="Role" class="form-select"
                asp-items="@(new SelectList(Enum.GetNames<AppRoles>()))">
        </select>
        <label asp-for="Role"></label>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="ProfilePicture" class="form-control" type="file" accept="image/*" />
        <label asp-for="ProfilePicture"></label>
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>